# Ignore virtual environment
.venv/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files and large datasets (if applicable)
events/


viz.twb
output.xlsx
example.db

